
@import "../core/variables.less";
@import "../core/mixins.less";
@import "../container/container.less";
@import "../icon/icon-mixins.less";

.msg,
[class *= " msg-"],
[class ^= "msg-"]{
	.stacking-context();
	padding: 17px 15px;
	border: @containerBorder;
	background: #fff;
	.box-shadow(4px 4px 1px 0 rgba(0,0,0,.05));
	.border-radius(2px);

	&:before,
	&:after{
		.before-after-abs();
	}

	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
		.gradient(#df263a, #df263a, #d91a2b);
	}

	&:after{
		top: 17px;
		left: 17px;
		.icon();
		.icon-msg-large();
		.icon-msg-large-error-mix();
	}

	& > h2{
		color: #d11421;
		font-size: 20px;
		font-weight: normal;
		padding: 10px 0 10px 82px;
		margin: 0;
	}

	&.small{
		&:after{
			.icon-msg-medium();
			.icon-msg-medium-error-mix();			
		}

		& > h2{
			font-size: 14px;
			padding: 3px 0 3px 50px;
		}
	}
}

.msg-success{
	&:before{
		.gradient(#64ad23, #64ad23, #539f18);
	}

	&:after{
		.icon-msg-large-success-mix();
	}

	& > h2{
		color: #5ba71b;
	}

	&.small:after{
			.icon-msg-medium-success-mix();
	}
}

.msg-warning{
	&:before{
		.gradient(#f29500, #f29500, #ef8500);
	}

	&:after{
		.icon-msg-large-warning-mix();
	}

	& > h2{
		color: #f18e00;
	}

	&.small:after{
			.icon-msg-medium-warning-mix();
	}
}


.msg-info{
	&:before{
		.gradient(#714db8; #714db8; #714db8);
	}

	&:after{
		.icon-msg-large-info-mix();
	}

	& > h2{
		color: #714db8;
	}

	&.small:after{
			.icon-msg-medium-info-mix();
	}
}






