@import "../core/variables.less";
@import "../core/mixins.less";
@import "../icon/icon-mixins.less";
//Dependent Modules
//@import "../item-box/item-box.less";

[class*="filmstrip-"]{
	display: block;
	.stacking-context-0();
	white-space: nowrap;
	margin: 0 20px;

	&.filmstrip-centered li > div{
		margin: 0 auto;
	}

	& > div{
		overflow: hidden;
		display: inline-block;
		width: 100%;

		& > ul{
			display: block;
			position: relative;
			word-spacing: -4px;
			.m-p-collapse();
		}

		& > ul > li{
			list-style-type: none;
			display: inline-block;
			word-spacing: normal;
			white-space: normal;
			width: 99%;
			margin: 0 .5%;			
		}
	}

	& > button{
	vertical-align: top;
	border: @borderInvisible;
	background-color: transparent;

	.border-radius(3px);
	.icon();
	.icon-arrow-large-left-right();
	.icon-arrow-large-right-mix();
	position: absolute;

		&:first-child{
			.icon-arrow-large-left-mix();
			left:-18px
		}
	}

	& > button[disabled]{
		.icon-arrow-large-right-disabled-mix();

		&:first-child{
			.icon-arrow-large-left-disabled-mix();
		}
	}
}

.filmstrip-2 > div > ul > li{
	width: 49%;
}

.filmstrip-3 > div > ul > li{
	width: 32.333333333333%;
}

.filmstrip-4 > div > ul > li{
	width: 24%;
}

.filmstrip-5 > div > ul > li{
	width: 19%;
}

.filmstrip-6 > div > ul > li{
	width: 15.6666666666666666%;
}

.filmstrip-7 > div > ul > li{
	width: 13.2857143%;
}

.filmstrip-8 > div > ul > li{
	width: 11.5%;
}

.no-touch{
	.filmstrip,
	[class*="filmstrip-"]{
		& > button{

			&:hover{
				border: @borderInvisible;
				.icon-arrow-large-right-hover-mix();
			}

			&:first-child:hover{
					.icon-arrow-large-left-hover-mix();
			}
		}

		& > button[disabled]{

			&:hover{
				.icon-arrow-large-right-disabled-mix();
			}

			&:first-child:hover{
					.icon-arrow-large-left-disabled-mix();
			}
		}
	}
}
