@import "../core/variables.less";
@import "../core/mixins.less";
@import "../icon/icon-mixins.less";
//Dependent Modules
//@import "../item-box/item-box.less";

.filmstrip{
	display: block;
	.stacking-context-0();
	white-space: nowrap;

	& > div{
		overflow: hidden;
		display: inline-block;
		& > ul{
			display: block;
			position: relative;
			word-spacing: -4px;
			.m-p-collapse();
			
			&:before,
		  	&:after {
		    	display: table;
		    	content: " ";
		  	}

		  	&:after {
		    	clear: both;
		  	}
		}

		& > ul > li{
			list-style-type: none;
			display: inline-block;
			word-spacing: normal;
			white-space: normal;
		}
	}

	& > button{
	vertical-align: top;
	border: @borderInvisible;
	background-color: transparent;

	.border-radius(3px);
	.icon();
	.icon-arrow-large-left-right();
	.icon-arrow-large-right-mix();

		&:first-child{

			.icon-arrow-large-left-mix();
		}
	}

	& > button[disabled]{
		.icon-arrow-large-right-disabled-mix();

		&:first-child{
			.icon-arrow-large-left-disabled-mix();
		}
	}
}

.no-touch{
	.filmstrip{
		& > button{

			&:hover{
				border: @borderInvisible;
				.icon-arrow-large-right-hover-mix();
			}

			&:first-child:hover{
					.icon-arrow-large-left-hover-mix();
			}
		}

		& > button[disabled]{

			&:hover{
				.icon-arrow-large-right-disabled-mix();
			}

			&:first-child:hover{
					.icon-arrow-large-left-disabled-mix();
			}
		}
	}
}
