@import "../core/variables.less";
@import "../core/mixins.less";

// button default size is medium.
[class*=" dropdown"] > a,
[class^="dropdown"] > a,
[class*=" dropdown"] > button,
[class^="dropdown"] > button,
[class*=" btn"],
[class^="btn"]{
	display: 			inline-block;
	position:			relative;
	z-index: 			1;
	padding: 			10px 20px;
	border: 			@btnBorder;
	font-size: 			14px;
	font-weight:		bold;
	color: 				@btnDefaultTextColor;
	background-repeat:	no-repeat;
	text-align:			center;	
	.gradient(@btnBkg, @btnBkg, @btnBkgEnd);
	.box-shadow(0 2px 0 0 rgba(0, 0, 0, .06));
	.border-radius(2px);

	&:visited{
		color: @btnDefaultTextColor;
		text-decoration:none;
	}

}

[class*=" dropdown"] > a,
[class^="dropdown"] > a,
[class*=" dropdown"] > button,
[class^="dropdown"] > button,
[class*=" btn"],
[class^="btn"]{	
	&:hover{
		border: 			 @btnBorderHover;
		text-decoration:	 none;
		background-position: 0 -45px;
		.transition(background-position .09s linear);
		.box-shadow(none);
	}
}

.disabled[class*=" dropdown"] > a,
.disabled[class^="dropdown"] > a,
.disabled[class*=" dropdown"] > button,
.disabled[class^="dropdown"] > button,
[disabled][class*=" btn"],
[disabled][class^="btn"],
.disabled[class*=" btn"],
.disabled[class^="btn"]{
	border: @btnBorderDisabled;
	color: 	#7fa6c4;
	cursor: default;
	.box-shadow(none);
	.opacity();
}

.disabled[class*=" dropdown"] > a,
.disabled[class^="dropdown"] > a,
.disabled[class*=" dropdown"] > button,
.disabled[class^="dropdown"] > button,
[disabled][class*=" btn"],
[disabled][class^="btn"],
.disabled[class*=" btn"],
.disabled[class^="btn"]{

	&:hover{
		border: @btnBorderDisabled;
		.box-shadow(none);
		background-position: 0 0;
	}
}

.lt-ie9{
	.disabled[class*=" dropdown"] > a,
	.disabled[class^="dropdown"] > a,
	.disabled[class*=" dropdown"] > button,
	.disabled[class^="dropdown"] > button,
	[disabled][class*=" btn"],
	[disabled][class^="btn"],
	.disabled[class*=" btn"],
	.disabled[class^="btn"]{

		&:hover{
			border: @btnBorderDisabled;
			.opacity();
		}
	}
}

[class*=" btn"].large,
[class^="btn"].large,
[class*=" dropdown"].large > a:first-child,
[class^="dropdown"].large > a:first-child,
[class*=" dropdown"].large > button:first-child,
[class^="dropdown"].large > button:first-child{
	padding: 	12px 20px;
	font-size: 	16px;
}

[class*=" btn"].small,
[class^="btn"].small,
[class*=" dropdown"].small > a:first-child,
[class^="dropdown"].small > a:first-child,
[class*=" dropdown"].small > button:first-child,
[class^="dropdown"].small > button:first-child{
	padding: 	7px 15px;
	font-size: 	12px;
}

[class*=" btn"]a,
[class^="btn"]a,
[class^="dropdown"] > a,
[class*=" drowpdown"] > a{
	text-decoration: none;
}



