@import "../core/variables.less";
@import "../core/mixins.less";

.btn-color(@colorEnd: @btnPrimBkg, @colorStart: @btnPrimStart){
	border: none;
	color: 	#fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .17); //IE doesn't support the blur property so no need for mixins
	.gradient(@colorStart; @colorStart; @colorEnd);
}

.btn-color-hover(@hoverColor: @btnPrimEnd){
	&:hover{
		border: 			none;
		background-color: 	@hoverColor;
		color: 				#fff;
	}
}

.btn-ie-hover(@color: @btnPrimEnd){
	&:hover{filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@color,@color));}
}





