@import "../core/variables.less";
@import "../core/mixins.less";

// button default size is medium.
.btn,
.dropdown > a,
.dropdown > button,
[class*="dropdown-"] > a,
[class*="dropdown-"] > button,
[class*="btn-"]{
	display: 			inline-block;
	padding: 			@btnPadding;
	border: 			@btnBorder;
	background-repeat:	no-repeat;
	text-align:			center;	
	.stacking-context();
	.font-define(@btnFontSize; bold; @btnDefaultTextColor; none);
	.gradient(@btnBkg, @btnBkg, @btnBkgEnd);
	.box-shadow(@btnShadow);
	.border-radius(2px);

	&:visited{
		color: @btnDefaultTextColor;
		text-decoration:none;
	}

}

[disabled].btn,
.disabled.btn,
[disabled][class*="btn-"],
.disabled[class*="btn-"],
.disabled.dropdown > a,
.disabled.dropdown > button,
.disabled[class*="dropdown-"] > a,
.disabled[class*="dropdown-"] > button{
	border: @btnBorderDisabled;
	color: 	#7fa6c4;
	cursor: default;
	.box-shadow(none);
	.opacity();
}

.lt-ie9{
	[disabled].btn,
	.disabled.btn,
	[disabled][class*="btn-"],
	.disabled[class*="btn-"],
	.disabled.dropdown > a,
	.disabled.dropdown > button,
	.disabled[class*="dropdown-"] > a,
	.disabled[class*="dropdown-"] > button{

		&:hover{
			border: @btnBorderDisabled;
			.box-shadow(none);
			background-position: 0 0;
		}		

		&:hover{
			border: @btnBorderDisabled;
			.opacity();
		}
	}
}

.btn.large,
.dropdown.large > a:first-child,
.dropdown.large > button:first-child,
[class*="dropdown-"].large > a:first-child,
[class*="dropdown-"].large > button:first-child,
[class*="btn-"].large{
	padding: @btnLargePadding;
	font-size: @btnLargeFontSize;
}

.btn.small,
.dropdown.small > a:first-child,
.dropdown.small > button:first-child,
[class*="btn-"].small,
[class*="dropdown-"].small > a:first-child,
[class*="dropdown-"].small > button:first-child{
	padding: 	@btnSmallPadding;
	font-size: 	@btnSmallFontSize;
}

a.btn,
a[class^="btn-"],
.dropdown > a,
[class*="drowpdown-"] > a{
	text-decoration: none;
}


.no-touch{
	.btn,
	.dropdown > a,
	.dropdown > button,
	[class*="dropdown-"] > a,
	[class*="dropdown-"] > button,
	[class*="btn-"]{	
		&:hover{
			border: @btnBorderHover;
			text-decoration: none;
			background-position: 0 -45px;
			.transition(background-position .09s linear);
			.box-shadow(none);
		}
	}

	[disabled].btn,
	.disabled.btn,
	[disabled][class*="btn-"],
	.disabled[class*="btn-"],
	.disabled.dropdown > a,
	.disabled.dropdown > button,
	.disabled[class*="dropdown-"] > a,
	.disabled[class*="dropdown-"] > button{

		&:hover{
			border: @btnBorderDisabled;
			.box-shadow(none);
			background-position: 0 0;
		}
	}
}



