@import "../core/variables.less";
@import "../core/mixins.less";
@import "item-box-mixins.less";

.item-box,
[class *= "item-box-"]{
	position: 		relative;
	display: 		table-cell;
	vertical-align:	middle;
	border: 		@itemBoxBorder;
	background: 	#fff;
	text-align:		center;
	.border-radius(3px);

	&:before{
		content: 	"";
		position: 	absolute;
		z-index: 	-1;
		width: 		35%;
		height: 	20%;
		max-width: 	300px;
		.box-shadow(0 15px 10px rgba(0,0,0, .25));
		.item-box-lifted-corner();
	}

	& > img{
		display: inline-block;
		vertical-align:	middle;
	}
}


.no-touch{
	.item-box,
	[class ^= "item-box-"]{
		&:hover{
			border: @itemBoxBorderHover;
		}
	}
}

